* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    /* background: #94bff0; */
    background: #D5E1EF;
    padding: 40px 20px;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
    color: black;
}

p {
    text-align: center;
    opacity: 0.8;
    margin-bottom: 40px;
    color: black;
}

.grid {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1200px;
    margin: 0 auto;
    padding: 16px;
}



.card {
    background: #fff;
    border-radius: 16px;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
}

.card:hover {
    transform: translateY(-6px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    display: block;
}

.card-content {
    padding: 16px;
}

.card h3 {
    font-size: 1.1rem;
    margin-bottom: 6px;
}

.card span {
    font-size: 0.9rem;
    opacity: 0.7;
}


@media (max-width: 1024px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Mobile */
@media (max-width: 576px) {
    .grid {
        grid-template-columns: 1fr;
    }
}