* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Overpass', sans-serif;
    background-color: hsl(216, 12%, 8%);
    color: hsl(0, 100%, 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.card {
    background: hsl(213, 19%, 18%);
    width: 400px;
    padding: 25px;
    border-radius: 20px;
}

.center {
    text-align: center;
    margin-top: 20px;
}

.star {
    background: hsl(213, 19%, 22%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: hsl(25, 97%, 53%);
    margin-bottom: 20px;
}

h1 {
    margin-bottom: 10px;
    font-size: 22px;
}

p {
    color: hsl(217, 12%, 63%);
    font-size: 15px;
    margin-bottom: 20px;
    line-height: 1.5;
}

.ratings {
    display: flex;
    gap: 18px;
    margin-bottom: 20px;
}

.ratings button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background: hsl(213, 19%, 22%);
    color: hsl(217, 12%, 63%);
    cursor: pointer;
}

.ratings button:hover,
.ratings button.active {
    background: hsl(25, 97%, 53%);
    color: white;
}

.submit {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 25px;
    background: hsl(25, 97%, 53%);
    color: hsl(213, 19%, 18%);
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    font-weight: 600;
}

.submit:hover {
    background: white;
    color: hsl(213, 19%, 18%);
}

.result {
    background: hsl(213, 19%, 22%);
    color: hsl(25, 97%, 53%);
    padding: 8px 15px;
    border-radius: 20px;
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 20px;
}


@media screen and (max-width: 768px) {
    body {
        padding: 14px 24px;
    }

    .card {
        width: 340px;
        padding: 20px;
    }

    p {
        width: 300px;
        font-size: 15px;
    }
}