body {
    /* margin: 0; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D5E1EF;
}

.box {
    display: flex;
    justify-content: center;
    width: 300px;
    height: 450px;
    border-radius: 20px;
    padding: 16px 16px 40px 16px;
    background-color: white;
}

.img-container img {
    border: 1px solid hsl(0, 0%, 0%);
    width: 300px;
    height: 288px;
    border-radius: 16px;
}

.text-container {
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-container h1 {
    width: 270px;
    height: 52px;
    font-size: 22px;
    text-align: center;
    margin: 0;
    color: #1F314F;
}

.text-container p {
    width: 230px;
    height: 76px;
    font-size: 18px;
    text-align: center;
    color: #68778D;
}


@media screen and (max-width: 768px) {
    body {
        padding: 14px 24px;
    }
}